ul.dropdown-content {
	min-width: 250px;
}

.card .card-image img {
	bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-image .card-title {
	width: 100%;
}

.card-image {
	height: 274px;
	overflow: hidden;
}

.card.small {
    height: 350px;
}

.white-text {
	font-family: 'Roboto' !important;
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
}

div {
    display: block;
}

nav .brand-logo {
	font-family: 'Pacifico', cursive;
	color: #36597d;
	font-size: 35px;
	padding-left: 25px;
}

.modal.open {
	height: 100% !important;
}

.modal.content {
	height: 100% !important; 
}

.modal.close {
	align-content: center;
}

.brand-logo {
	font-family: 'Pacifico', cursive;
	color: #36597d;
	font-size: 35px;
}

.nav-wrapper {
	background-color: white;
}

nav .nav-wrapper {
	padding-right: 50px;
}

nav ul a{
	color: black;
}

.btn {
	color: black;
	background-color: #ffbb33;
}

.navbar-fixed .nav-wrapper > ul > li > a:hover {
  color: white;
  background-color: #36597d;
}

nav .button-collapse {
	float: right;
}

nav a {
	color: #36597d;

}

img {
	max-width:auto
}

.pagination {
	text-align: center;
}

#title {
	position: absolute;
	top: 30%;
	left: 25%;
	font-family: 'Pacifico', cursive;
	color: white;
}

.parallax-container {
	margin-bottom: 20px;
}

.page-footer {
	background-color: #36597d;
	height: 50%;
}